<html>
  <head>
    <link rel="stylesheet" href="/css/bootstrap.css" type="text/css" />
  </head>

  <body style="margin: 20px;">
    <h2>Your JWF token is</h2>
    <p>{{.token}}</p>
  </body>
</html>
